body {
background: #fff;
color: #222;
font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
font-size: 12px;
line-height: 1.6;
text-align: center;
color:#414141;
}
/*============ phan menu tren font-family: Arial, Tahoma, Verdana, sans-serif;==================== */
/*============ het phan mennu tren ==================== */
#menubar{
position: fixed;  
  top: 0;  
  z-index: 100000; /*Hiển thị lớp trên cùng*/
}
/*============ phan ben trai nguoi dung==================== */
/* phan menu ben */
.menuLeft{
    margin: 0px;
    padding: 0px;
    position: fixed; 
}
.menuLeft ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.menuLeft ul li{
    text-align: left;
}
.menuLeft ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0px;
}
.menuLeft li a:hover {
    background-color: #FFFFFF;
    color: black;
}